<div class="accordion mt-10" id="accordionExample">
  <div class="accordion-item border-0">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Know-how
          </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p> An experienced team specializing in operations in remote and preserved locations, with over 10 years of work in wilderness areas. Highly skilled guides with extensive knowledge of the region's birds.</p>
          </div>
      </div>
  </div>
  <div class="accordion-item  border-0">
      <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Unique experiences
          </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
             <p>We offer unique experiences in restricted-access locations such as national parks, ecological reserves, community projects, and initiatives in indigenous areas.</p>
          </div>
      </div>
  </div>
  <div class="accordion-item border-0">
      <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             Safety Travel
          </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body border-0">
            <p>We ensure maximum safety with comprehensive trip monitoring, satellite communication systems, and travel insurance to cover any unforeseen issues along the journey.</p>
          </div>
      </div>
  </div>
  
</div>