
<div class="container d-flex justify-content-center">
  <div class="card">
    <img src="https://imgur.com/e2RsvGz.png" height="560" class="card">
    <div class="text-white"><p>Extravanga Amzaon </p></div>
    <div class="text-muted"><p>If you are the sort of person who just can not keep yourself alive, travel.</p></div>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <span><button>COMPRAR</button></span>

</div>
