
  <div class="container d-flex flex-wrap justify-content-start">
    <div class="card m-4 shadow-lg mb-5 bg-body rounded">
      <img src="/images/cards_tours/ExtravaganzaCard.jpg" class="ImgCard rounded">
      <div class="CardBgGradient"></div>
      <div><p class="CardCountry">BRAZIL</p></div>
      <div><p class="CardTitle">AMAZON EXTRAVAGANZA TOUR</p></div>
      <div><p class="CardDescription">Tour Brazil's best regions with over 900 species to discover.</p></div>
      <a href="/tour_extravaganza"><button type="button" class="CardButton"><span>Tour details</span></button></a>
    </div>
    <div class="card m-4 shadow-lg mb-5 bg-body rounded">
      <img src="/images/cards_tours/XinguCard.jpg" class="ImgCard rounded">
      <div class="CardBgGradient"></div>
      <div><p class="CardCountry">BRAZIL</p></div>
      <div><p class="CardTitle">XINGU AN INDIGINOUS EXPERIENCE      </p></div>
      <div><p class="CardDescription">Unique experience in an indigenous village in the Brazilian Amazon.</p></div>
      <a href="/tour_xingu"><button type="button" class="CardButton"><span>Tour details</span></button></a>
    </div>
    <div class="card m-4 shadow-lg mb-5 bg-body rounded">
      <img src="/images/cards_tours/EndemismCard.jpg" class="ImgCard rounded">
      <div class="CardBgGradient"></div>
      <div><p class="CardCountry">BRAZIL</p></div>
      <div><p class="CardTitle">ENDEMISM HAVEN</p></div>
      <div><p class="CardDescription">Full tour of Brazil's Atlantic Forest, home to many endemic species.</p></div>
      <a href="/tour_endemismhaven"><button type="button" class="CardButton"><span>Tour details</span></button></a>
    </div>

    <div class="card m-4 shadow-lg mb-5 bg-body rounded">
    <img src="/images/cards_tours/EndemismNorthCard.jpg" class="ImgCard rounded">
    <div class="CardBgGradient"></div>
    <div><p class="CardCountry">BRAZIL</p></div>
    <div><p class="CardTitle">ENDEMISM HAVEN North tour</p></div>
    <div><p class="CardDescription">Full tour of Brazil's Atlantic Forest, home to many endemic species.</p></div>
    <a href="tour_endemismnorth"><button type="button" class="CardButton"><span>Tour details</span></button></a>
  </div>
<div class="card m-4 shadow-lg mb-5 bg-body rounded">
  <img src="/images/cards_tours/EndemismCard.jpg" class="ImgCard rounded">
      <div class="CardBgGradient"></div>
      <div><p class="CardCountry">BRAZIL</p></div>
      <div><p class="CardTitle">ENDEMISM HAVEN South tour</p></div>
      <div><p class="CardDescription">Full tour of Brazil's Atlantic Forest, home to many endemic species.</p></div>
      <a href="/tour_endemismhaven"><button type="button" class="CardButton"><span>Tour details</span></button></a>
    </div>

    <div class="card m-4 shadow-lg mb-5 bg-body rounded">
      <img src="/images/cards_tours/galodaserra_card.jpg" class="ImgCard rounded">
      <div class="CardBgGradient"></div>
      <div><p class="CardCountry">BRAZIL</p></div>
      <div><p class="CardTitle">Amazon feathers</p></div>
      <div><p class="CardDescription">Tour through the natural wonders of the Amazon, with waterfalls and rare birds.</p></div>
      <a href="/tour_amazonfeathers"><button type="button" class="CardButton"><span>Tour details</span></button></a>
    </div>
    <div class="card m-4 shadow-lg mb-5 bg-body rounded">
      <img src="/images/cards_tours/RooseveltCard.jpg" class="ImgCard rounded">
      <div class="CardBgGradient"></div>
      <div><p class="CardCountry">BRAZIL</p></div>
      <div><p class="CardTitle">Roosevelt Journey</p></div>
      <div><p class="CardDescription">Relive Roosevelt's incredible journey on this adventure through the Amazon rainforest.</p></div>
      <a href="/tour_roosevelt"><button type="button" class="CardButton"><span>Tour details</span></button></a>
    </div>
    <div class="card m-4 shadow-lg mb-5 bg-body rounded">
      <img src="/images/cards_tours/MamirauaCard.jpg" class="ImgCard rounded">
      <div class="CardBgGradient"></div>
      <div><p class="CardCountry">BRAZIL</p></div>
      <div><p class="CardTitle">Mamirauá Immersion</p></div>
      <div><p class="CardDescription">A paradise of birds and wildlife in the Mamirauá Sustainable Development Reserve.</p></div>
      <a href="/tour_mamiraua"><button type="button" class="CardButton"><span>Tour details</span></button></a>
    </div>
  </div>
  