<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container">

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-black m-0"
          style="background-color: #ffffff"
          >
   
    <!-- Section: Links  -->
    <section class="border-top">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Zyba Outdoors LLC</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              ZybaOutdoors takes you to explore unexpected destinations and experience exclusive adventures in truly unique places.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Tours</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="/tour_extravaganza" class="text-black">Amazon Extravaganza</a>
            </p>
            <p>
              <a href="#!" class="text-black">Endemism Haven</a>
            </p>
            <p>
              <a href="#!" class="text-black">Roosevelt Journey</a>
            </p>
            <p>
              <a href="#!" class="text-black">Xingu an Indigenous Experience</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Company</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-black">About us</a>
            </p>
            <p>
              <a href="#!" class="text-black">Tours</a>
            </p>
            <p>
              <a href="#!" class="text-black">Contact</a>
            </p>
           
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> 254 CHAPMAN RD, STE 208 #19990 NEWARK , DE 19702</p>
            <p><i class="fas fa-envelope mr-3"></i> sales@zybaoutdoors.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 1 (808) 494-4907</p>
            <p><i class="fas fa-print mr-3"></i> + 55 19 99830-5875</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->