<div class="accordion accordion-flush w-100" id="accordionFlushExample">

<!-- DAY 1 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
      Day 1 - Arrived at São Paulo City, our team will be waiting you to move to yout Hotel.
    </button>
  </h2>
  
  <div id="flush-collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Aeroporto Internacional de Manaus / Eduardo Gomes      </p>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 2 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
      Day 2 - Flight to Porto Velho city
    </button>
  </h2>
  
  <div id="flush-collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        We will arrange the transfer to the airport for a domestic flight to the city of Porto Velho. Upon arrival, we will begin a short tour of the city’s surroundings. We will spend the night at a local hotel, with departure scheduled for the following morning.      
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 3 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
      Day 3 - Trans-Amazonian Highway 
    </button>
  </h2>
  
  <div id="flush-collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        After breakfast, we will head to the city of Apuí, located on the banks of the Roosevelt River. The journey, approximately 7 hours long, will take us along the iconic Transamazonian Highway, one of the most famous roads in the Amazon. Along the way, we will make several strategic stops to observe the rich local wildlife and cross the Madeira River by Ferry, an event by itslef, crossing one of the region's most important waterways. Our arrival at the lodge is expected in the afternoon, allowing time to rest and prepare for the upcoming activities. Our guide will be happy to take anyone to find the night critters.       
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>



<!-- DAY 4 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
      Day 4 - Roosevelt River 
    </button>
  </h2>
  
  <div id="flush-collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        The following day will be dedicated to exploring the scenic trails along the majestic Roosevelt River, providing ample opportunities to observe a variety of endemic species native to the region. In addition to our hikes, we will embark on a boat journey through the river’s swift waters, offering a thrilling experience that highlights the power and beauty of this unique environment. The Roosevelt River, named in honor of President Theodore Roosevelt, inspired his famous book Through the Brazilian Wilderness, further solidifying its historical significance and connection to exploration.
        <h5>A few Tour highlights</h5>  
        <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 5 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
      Day 5 - Roosevelt River 
    </button>
  </h2>
  
  <div id="flush-collapseSeventeen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        The following day will be dedicated to further exploration of the Amazon's Roosevelt River, where we will venture into various micro-biomes along its margins. This will offer unique opportunities to observe a diverse range of species, with the hope of encountering our targeted birds in these distinct habitats.          
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 6 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
      Day 6 - Roosevelt River 
    </button>
  </h2>
  
  <div id="flush-collapseEighteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        We will spend an entire day exploring the majestic Roosevelt River, immersing ourselves in its diverse ecosystems. Hiking along the river’s trails, we will have the opportunity to observe various endemic species, while also navigating its swift waters to experience the power and beauty of this unique setting. On our final day of our stay, we will continue our adventure into one of the nine primary trails surrounding the lodge. This will be the perfect chance to focus on finding the target species that everyone has been eager to observe, all while making the most of the rich biodiversity that the Roosevelt River region has to offer.         
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
        <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 7 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNineteen" aria-expanded="false" aria-controls="flush-collapseNineteen">
      Day 7 - Boat transfer to Guariba River 
    </button>
  </h2>
  
  <div id="flush-collapseNineteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        At dawn, we’ll embark on boats once more, heading upriver toward the beautiful Guariba river. While it’s not a long ride, about 3,5h, this journey will take us across another fascinating endemism line. As we delve deeper into the Amazon rainforest, we’ll have the rare opportunity to encounter some of its most extraordinary treasures, species that thrive only in pristine, untouched habitats.
        This marks the final destination of our incredible expedition. Take a moment to be fully present and grateful for the privilege of witnessing the grandeur of the largest rainforest on Earth.       
      
      </p>
      
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 8 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwenty" aria-expanded="false" aria-controls="flush-collapseTwenty">
      Day 8 - Guariba River 
      
    </button>
    
  </h2>
  
  <div id="flush-collapseTwenty" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today marks our first full day at the breathtaking Guariba Lodge. We’ll explore the trails along Guariba river margins, immersing ourselves in the rich biodiversity of this unique environment. With your guide's expertise, we’ll focus on meeting your specific targets, aiming to deliver not just quantity but exceptional quality in our sightings.
        Get ready for an unforgettable day in the Amazon!
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Rufous-necked Puffbird - <i>Malacoptila rufa</i></li>
          <li>Paradise Jacamar - <i>Galbula dea</i></li>
          <li>Broad-billed Motmot - <i>Electron platyrhynchum</i></li>
          <li>Nocturnal Curassow - <i>Nothocrax urumutum</i></li>
          <li>Fiery-tailed Awlbill - <i>Avocettula recurvirostris</i></li>
        </ul>
      </p>
      
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 9 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentyOne" aria-expanded="false" aria-controls="flush-collapseTwentyOne">
      Day 9 - Guariba River 
    </button>
  </h2>
  
  <div id="flush-collapseTwentyOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today, we’ll continue our adventure with a full day of exploration at Guariba river. We’ll venture onto new trails and explore diverse environments, increasing our chances of encountering species different from those spotted the day before.
With your guide’s expertise, we’ll remain focused on achieving your specific targets in one of the most remarkable places on Earth.
Prepare yourself for another unforgettable day in the heart of the Amazon!
<h5>A few Tour highlights</h5>        
<ul class="itineraryBirdList">
  <li>Rufous-necked Puffbird - <i>Malacoptila rufa</i></li>
  <li>Paradise Jacamar - <i>Galbula dea</i></li>
  <li>Broad-billed Motmot - <i>Electron platyrhynchum</i></li>
  <li>Nocturnal Curassow - <i>Nothocrax urumutum</i></li>
  <li>Fiery-tailed Awlbill - <i>Avocettula recurvirostris</i></li>
        </ul>
      </p>
      
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 10 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentytwo" aria-expanded="false" aria-controls="flush-collapseTwentytwo">
      Day 10 - Back to the city
    </button>
  </h2>
  
  <div id="flush-collapseTwentytwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        After breakfast, we will begin the journey back to the city of Apuí. The itinerary includes approximately 3 hours descending the Roosevelt River by boat, followed by a 7-hour drive through the Amazon, offering moments of relaxation and the chance to enjoy the birds along the way.
        Upon our arrival in Apuí, we will spend the night at a hotel, and the following day, we will take a return flight to São Paulo.
      </p>
      
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>