<div class="accordion accordion-flush w-100" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Day 01 - Arrival at Manaus 
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            Arrival at Manaus International Airport: our team will be waiting for you at the airport to welcome you and guide you to your Hotel transfer, ensuring comfort and peace of mind upon your arrival.
          </p>
        </div>
      
    </div>
      </div>

<!-- DAY 2 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
      Day 2 - Flight to Tefé city / Mamirauá Reserve
    </button>
  </h2>
  
  <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p> 
        Departure from the hotel at 5:30 a.m. heading to Manaus International Airport, where we will board a domestic flight of approximately 1 hour and 15 minutes to the city of Tefé. Upon arrival in Tefé, our team will be waiting to take you to the city’s port. From there, we will embark on a one-hour boat ride to the lodge, located within the Mamirauá Sustainable Development Reserve, where a delicious lunch will be served. Activities will begin after lunch, including trails and opportunities to observe the local wildlife.
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 3 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
      Day 3 - Mamirauá Sustainable Development Reserve 
    </button>
  </h2>
  
  <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        This full-day excursion will be dedicated to exploring and observing the flooded forest and it's inhabitants, navigating remote and well-preserved areas by wooden canoe. This immersive experience offers a rare opportunity to connect deeply with the rich biodiversity and serene atmosphere of this unique ecosystem.
        Mamirauá, spanning an impressive 1.124 million hectares, is a true sanctuary in the heart of the Amazon. Here, you will not only experience nature at its most unspoiled but also gain insight into a distinct way of life, deeply intertwined with the land.
        In Mamirauá, time seems to slow down, allowing you to fully immerse yourself in the tranquil surroundings. Your heart rate will naturally decrease as you embrace the peace and solitude of this remarkable environment, offering a chance to reconnect with both nature and your inner self.        
               <h5>Top 5 - Endemic Birds:</h5>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">

      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 4 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
      Day 4 - Mamirauá Sustainable Development Reserve 
    </button>
  </h2>
  
  <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        This full-day excursion will be dedicated to exploring and observing the flooded forest and it's inhabitants, navigating remote and well-preserved areas by wooden canoe. This immersive experience offers a rare opportunity to connect deeply with the rich biodiversity and serene atmosphere of this unique ecosystem.
        Mamirauá, spanning an impressive 1.124 million hectares, is a true sanctuary in the heart of the Amazon. Here, you will not only experience nature at its most unspoiled but also gain insight into a distinct way of life, deeply intertwined with the land.
        In Mamirauá, time seems to slow down, allowing you to fully immerse yourself in the tranquil surroundings. Your heart rate will naturally decrease as you embrace the peace and solitude of this remarkable environment, offering a chance to reconnect with both nature and your inner self.        
        </p>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
     </div>
  </div>
</div>

<!-- DAY 5 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
      Day 5 - Mamirauá Sustainable Development Reserve 
    </button>
  </h2>
  
  <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        This full-day excursion will be dedicated to exploring and observing the flooded forest and it's inhabitants, navigating remote and well-preserved areas by wooden canoe. This immersive experience offers a rare opportunity to connect deeply with the rich biodiversity and serene atmosphere of this unique ecosystem.
        Mamirauá, spanning an impressive 1.124 million hectares, is a true sanctuary in the heart of the Amazon. Here, you will not only experience nature at its most unspoiled but also gain insight into a distinct way of life, deeply intertwined with the land.
        In Mamirauá, time seems to slow down, allowing you to fully immerse yourself in the tranquil surroundings. Your heart rate will naturally decrease as you embrace the peace and solitude of this remarkable environment, offering a chance to reconnect with both nature and your inner self.        
        </p>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
     </div>
  </div>
</div>


<!-- DAY 6 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
      Day 6 - Back to Manaus
    </button>
  </h2>
  
  <div id="flush-collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        The following day, we will travel to another nearby community, where we will have the opportunity to observe a diverse range of bird species, as well as some of the Amazon's most iconic wildlife, including the Black Caiman, Uakari monkey, and manatee. This unique experience will include an overnight stay within the community, providing an authentic and immersive connection with the local culture, culinary, and the surrounding natural environment.
      </p>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
      
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
      </div>
    </div>
  </div>
</div>
</div>
</div>
