<div class="accordion accordion-flush w-100" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Day 01 - Arrival in São Paulo Internacional Airport
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            Your adventure begins at São Paulo's Guarulhos International Airport, where we’ll warmly welcome you upon arrival. Depending on your arrival time, we can arrange a birding tour at a nearby destination, such as Serra da Cantareira State Park, or take you directly to your hotel for some well-deserved rest.
            Make the most of your arrival day by exploring Brazil’s local cuisine and even trying out a bit of Portuguese! Brazilians are known for their friendliness and will gladly engage with you if you make the effort, enjoy their warmth and hospitality!
          </p>
        </div>
      
    </div>
      </div>
      
      
      <!-- DAY 2 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Day 02 - Flight to Sinop city / Eco and bird tours 
          </button>
        </h2>
        
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
              <p>
                Early in the morning, you’ll depart São Paulo airport and catch a flight to Sinop, MT, typically arriving by late morning after a layover in Cuiabá. Upon arrival, we’ll have an activity prepared to make the most of your time in Sinop.
                This area offers excellent birding opportunities, and we’re close enough to our destination to potentially spot some of our target species. Your guide will take you to a prime birding spot, where your adventure truly begins! 
              </p>
            
              <h5>A few Tour highlights</h5>
              <ul class="itineraryBirdList">
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
              </ul>
            
           
<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
               
            </div>
          </div>
        </div>
      </div>

    </div>

     
      <!-- DAY 3 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Day 03 - Getting to the camp 
          </button>
        </h2>
        
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
            <p>
              After an overnight stay in Sinop, we’ll embark on a four-hour drive to the Ronuro River. From there, we’ll transfer to a fast boat for a stunning five-hour journey along two of the Amazon’s iconic waterways the Ronuro and Xingu Rivers.
              As we navigate toward the Xingu River, home to the Ikpeng people, your guide will keep a sharp eye out for any special wildlife sightings. While we’ll limit stops to ensure we reach camp before nightfall, there will be plenty of opportunities to take in the breathtaking scenery.
              Relax, enjoy the ride, and immerse yourself in the magic of the Amazon; the world’s largest rainforest! 
              Your camp is a traditional indigenous house, thoughtfully adapted for your comfort. Inside, we’ve set up tents equipped with real beds and fans to provide a touch of thermal comfort, ensuring you enjoy an authentic yet cozy experience.
          
              *If time is at the essence, ask us about plane ride straight to the tribe
            </p>
             
<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
               
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- DAY 4 -->

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Day 04 - Birdwatching in indiginous area
        </button>
      </h2>
      
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
     
          <p>
            On our first full day of birding, we’ll dive straight into the heart of the forest. The Ikpeng maintain several trails for gathering wood, hunting, and foraging, and we’ll explore one of these paths. Your bird guide will team up with an Ikpeng guide, whose sharp hunter’s eye adds a unique perspective to the experience.
            We will use bikes to get to the trail, it’s a flat 3 mile ride where we will do some strategic stops for some interesting birds. Lunch will be served on the trail, so remember to stay hydrated and well-fed—it’s easy to underestimate how much energy the forest can take out of you. Let’s make the most of this unforgettable day!           </p>
          <p>
            <h5>A few Tour highlights</h5>
            <ul class="itineraryBirdList">
              <li>Snow-capped Manakin - <i>Lepidothrix nattereri</i></li>
              <li>Screaming Piha - <i>Lipaugus vociferans</i></li>
              <li>Silvered Antbird - <i>Sclateria naevia</i></li>
              <li>Ridgway's Woodcreeper - <i>Dendrocolaptes ridgwayi</i></li>
              <li>Black-bellied Cuckoo - <i>Piaya melanogaster</i></li>
            </ul>
          </p>
          
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
                <!-- Inclui o header como template parcial -->
                
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- DAY 5 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Day 05 - Boat and lake tour
      </button>
    </h2>
    
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          Today, we’ll venture into some hidden gems of the jungle. At dawn, we’ll take a boat to a secluded spot—a trail known for its abundance of birds of prey. This trail will lead us to another lake, where a second boat awaits to take us deeper into the wilderness. From there, we’ll explore a secretive path tucked away in the heart of the forest. Along the way, you’ll have countless opportunities to spot a variety of incredible birds. It’s an adventure not to be missed!
        </p>
        <p>
          <h5>A few Tour highlights</h5>
          <ul class="itineraryBirdList">
            <li>Collared Trogon -<i>Trogon collaris</i></li>
            <li>Fiery-capped Manakin - <i>Machaeropterus pyrocephalus</i></li>
            <li>Rufous-capped Nunlet - <i>Nonnula ruficapilla</i></li>
            <li>Rondonia Warbling-Antbird - <i>Hypocnemis ochrogyna</i></li>
            <li>Flame-crowned Manakin - <i>Heterocercus linteatus</i></li>
          </ul>
        </p>
        
  

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              
        </div>
      </div>
    </div>
  </div>

</div>


  <!-- DAY 6 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Day 06 - Water exploration and nocturnal birds
      </button>
    </h2>
    
    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          At dawn, we’ll set out by boat to explore the region’s water habitats. Today’s focus will be on lagoons and small grasslands as we search for unique wildlife. Keep your eyes peeled for one of Brazil’s rarest endemic species the Xingu Cardinal.
          In the afternoon, you’ll have the chance to connect with the Ikpeng community. Whether it’s playing soccer, hearing their stories, or witnessing a traditional ritual, it’s an incredible opportunity to immerse yourself in their culture.
          After dinner, we’ll head out for a night walk just outside the village, searching for elusive nocturnal birds.  
        </p>
        <p>
          <h5>A few Tour highlights</h5>
          <ul class="itineraryBirdList">
            <li>Black Hawk-Eagle -<i>Spizaetus tyrannus</i></li>
            <li>Band-tailed Antbird - <i>Hypocnemoides maculicauda</i></li>
            <li>Glossy Antshrike - <i>Sakesphorus luctuosus</i></li>
            <li>Sunbittern - <i>Eurypyga helias</i></li>
            <li>Xingu Cardinal - <i>Paroaria xinguensis</i></li>
          </ul>
        </p>
        
  

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              
        </div>
      </div>
    </div>
  </div>

</div>

<!-- DAY 7 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
      Day 07 - Savana tour
    </button>
  </h2>
  
  <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        Today, we’ll venture into a completely different habitat—the open, savanna-like surroundings of the tribe. This unique environment is home to an array of wildlife, including parrots and various birds of prey. Unlike the dense rainforest we’ve explored so far, this open habitat offers a chance to spot species not typically seen deep in the Amazon.
        One of the incredible advantages of being in a transition zone between two biomes is experiencing this rich diversity of wildlife. Let’s enjoy the contrast and discover the treasures this unique ecosystem has to offer!  
      </p>
      <p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Chestnut-eared Aracari -<i>Pteroglossus castanotis</i></li>
          <li>Black Manakin - <i>Xenopipo atronitens</i></li>
          <li>Xingu Parakeet - <i>Pyrrhura anerythra</i></li>
          <li>Amazonian Umbrellabird - <i>Cephalopterus ornatus</i></li>
          <li>Spotted Puffbird - <i>Tamatia tamatia</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 8 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
      Day 08 - Deep in to the forest
    </button>
  </h2>
  
  <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        On our final full day as guests of the Ikpeng, we’ll head deep into the forest once more, searching for any special birds we may have missed. With over 1,000 bird species in the Brazilian Amazon, every walk brings the chance to encounter something new and extraordinary. Take in the moment, appreciate the privilege of being here, and enjoy this unforgettable birding experience.
        Today, we’ll focus on quality over quantity, tailoring our efforts to seek out elusive species like manakins, quetzals, woodcreepers, and antbirds, depending on your targets. 
        Let’s make this final day in the forest truly special!
                <p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Pavonine Quetzal -<i>Pharomachrus pavoninus</i></li>
          <li>White-browed Antbird  - <i>Myrmoborus leucophrys</i></li>
          <li>Dwarf Tyrant-Manakin - <i>Tyranneutes stolzmanni</i></li>
          <li>Rufous-rumped Foliage-gleaner - <i>Philydor erythrocercum</i></li>
          <li>Spix's Woodcreeper - <i>Xiphorhynchus spixii</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 9 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
      Day 09 - Back to the city
    </button>
  </h2>
  
  <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        t’s time to head back. We’ll start early, pack up, and hop on the boats for our return journey. This time, we’ll have more opportunities to stop and spot wildlife since we won’t be racing against the daylight.
        The boat ride promises to be smooth and filled with sightings of Amazonian fauna. Once we dock, your car will be ready to take you on a four-hour drive to a comfortable hotel in Sinop, where you can relax after the adventure. 
      </p>
        <p>
        To cap off this incredible trip, Zyba invites you to join us for a farewell dinner in town—a perfect time to share stories and relive the highlights of your journey.
        The next morning, you’ll head back to São Paulo International Airport, where you can either return home or embark on your next adventure. If you’re not ready to say goodbye to Brazil just yet, we also offer tailored short tours just 60 miles from the airport, complete with pickup, drop-off, and meals included. The adventure doesn’t have to end here!
          
      </p>
       
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
      </div>
    </div>
  </div>
</div>
</div>
