<div class="accordion accordion-flush w-100" id="accordionFlushExample">
  
<!-- DAY 1 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      Day 1 - Arrival AT São Paulo City
    </button>
  </h2>
  
  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>

        Arrival at Guarulhos International Airport: our team will be waiting for you at the airport to welcome you and guide you to your IlhaBela city transfer, ensuring comfort and peace of mind upon your arrival.


      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>  

<!-- DAY 2 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
      Day 2 - Ilha Bela city tour  
    </button>
  </h2>
  
  <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        Today, we’ll enjoy our first full day of birding in a truly breathtaking location: Ilhabela. Situated off the coast of São Paulo, this tropical paradise is renowned for its pristine beaches, lush Atlantic Forest, and vibrant biodiversity. Ilhabela offers the perfect blend of adventure and tranquility, with exceptional birdwatching opportunities. Its charming village, rich Caiçara culture, and delectable cuisine make it an unmissable destination for nature enthusiasts.
        
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Mealy Parrot - <i>Amazona farinosa</i></li>
          <li>Violet-capped Woodnymph - <i>Thalurania glaucopis</i></li>
          <li>Little Blue Heron - <i>Egretta caerulea</i></li>
          <li>Tawny-browed Owl - <i>Pulsatrix koeniswaldiana</i></li>
          <li>Common Potoo - <i>Nyctibius griseus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 03 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
      Day 3 - Atlantic Ocean tour  
    </button>
  </h2>
  
  <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today is a special adventure! We’ll set out on a boat to explore the Atlantic Ocean in search of its open-sea treasures. Keep an eye out for majestic seabirds soaring overhead as we journey through these stunning waters.

        Joining us for the day will be a specialized open-ocean birding guide, a local expert from Ilhabela, who will lead us to offshore islands where our chances of spotting our target species are significantly higher. It promises to be an unforgettable experience on the open sea!
        
        
      </p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>South American Tern -<i>Sterna hirundinacea</i></li>
          <li>Yellow-nosed Albatross - <i>Thalassarche chlororhynchos</i></li>
          <li>Magellanic Penguin - <i>Spheniscus magellanicus</i></li>
          <li>Magnificent Frigatebird - <i>Fregata magnificens</i></li>
          <li>Great Shearwater - <i>Ardenna gravis</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 4 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
      Day 4 - Peruíbe city tour  
    </button>
  </h2>
  
  <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today, we’ll embark on a scenic journey along São Paulo’s breathtaking coastline, traveling a winding road where mountains meet the ocean. As we transition from the north coast to the south coast of São Paulo State, our destination is Peruíbe. Along the way, we’ll make a special stop to admire the stunning scarlet ibis. While not endemic, this vibrant bird is one of the most striking species on our coast. This unforgettable route promises to captivate you at every turn.        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Channel-billed Toucan - <i>Ramphastos vitellinus</i></li>
          <li>Blond-crested Woodpecker - <i>Celeus flavescens </i></li>
          <li>Green-headed Tanager - <i>Tangara seledon</i></li>
          <li>Ruby-crowned Tanager - <i>Tachyphonus coronatus</i></li>
          <li>Vermilion Flycatcher - <i>Pyrocephalus rubinus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 5 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
      Day 5 - Peruíbe tour 
    </button>
  </h2>
  
  <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Our tour takes us to Peruíbe, located on the southern coast of São Paulo State. This charming destination is a haven for nature lovers, with idyllic beaches, stunning waterfalls, and lush natural reserves. Peruíbe is a true birdwatching paradise, inviting you to explore its treasures, from the peaceful trails of Parque Municipal do Restinga to the scenic Passarela do Balsa. The Guaraú area alone boasts over 430 bird species recorded on eBird, making it an unmissable destination to experience the incredible biodiversity of the region.     
        </p>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 6 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
      Day 6 - Peruíbe Trails 
    </button>
  </h2>
  
  <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        As we spend another day in Peruíbe, our focus will be on vibrant colors. This morning, we’ll visit a spot renowned for its feeders, attracting a dazzling array of tanagers and hummingbirds with their stunning hues. In the afternoon, we’ll hit the trails for a mix of exploration and adventure, ensuring another fun and diverse birdwatching experience! </p>
      
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 7 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
      Day 7 - "Legado das Águas" Atlantic Forest
    </button>
  </h2>
  
  <div id="flush-collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        In the morning, we’ll leave the coast and journey back to higher elevations, heading to "Legado das Águas"—the largest private Atlantic Forest reserve in Brazil. This remarkable sanctuary is a testament to the power of conservation and vision. Over the next five days, we’ll immerse ourselves in its beauty, exploring the trails, enjoying the feeders, and discovering the surrounding areas of this extraordinary haven.       </p>
      </p>
      <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Red-breasted Toucan - <i>Ramphastos dicolorus</i></li>
          <li>Brazilian Ruby  - <i>Heliodoxa rubricauda</i></li>
          <li>Frilled Coquette - <i>Lophornis magnificus</i></li>
        </ul>
     
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 8 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
      Day 8 - Welcome to "Legado das águas" 
    </button>
  </h2>
  
  <div id="flush-collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Welcome to your first full day at Legado das Águas! Today, we’ll dive into its lush trails and immerse ourselves once again deep in the Atlantic forest, there is so much to explore. Be sure to share your specific goals or target species with your guide, and together, we’ll aim to check them all off your list.
        The trails at Legado das Águas lead to breathtaking waterfalls, serene rivers, and viewpoints that highlight the beauty and diversity of this incredible ecosystem. Every path offers a unique opportunity to connect with nature. Let’s make the most of this day and uncover the magic of this extraordinary place!     
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 9 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
      Day 9 - "Legado das Águas" Trails 
    </button>
  </h2>
  
  <div id="flush-collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Legado das Águas is a haven for countless endemic species of flora and fauna. As we explore its diverse trails, keep an eye out for colorful toucans, toucanets, puffbirds, wrens, anteaters, playful monkeys, and the vibrant flora that flourish in this pristine paradise. Each step unveils a new marvel, making this reserve a must-visit destination for nature enthusiasts and adventurers alike. Take a moment to appreciate the privilege of being here and cherish the beauty around you. As our journey approaches its final chapters, let’s savor every experience and make the most of this unforgettable adventure.  
      </p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
   
            <li>Buff-throated Purpletuft - <i>Iodopleura pipra</i></li>
            <li>White-chinned Sapphire - <i>Chlorestes cyanus</i></li>
            <li>Rufous-headed Tanager - <i>Hemithraupis ruficapilla</i></li>


        </ul>
     
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>



<!-- DAY 10 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
      Day 10 - bird-feeding property  
    </button>
  </h2>
  
  <div id="flush-collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        After two days of exploring trails, it’s time to relax a bit. Today, we’ll visit a renowned bird-feeding property near Legado das Águas, where birds approach from all directions, offering amazing photo opportunities and lasting memories. Take your time to observe their behavior and interactions up close.
        In the afternoon, we’ll return to Legado das Águas. After dinner, we’ll head out for a night exploration, searching for owls, nightjars, and other nocturnal wildlife.          
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 10 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
      Day 11 - Last bird day and move back to São paulo city 
    </button>
  </h2>
  
  <div id="flush-collapseSeventeen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        This is our final morning at Legado das Águas, a perfect time for one last birding adventure before saying goodbye to this incredible place.

        After lunch, we’ll begin our journey back to São Paulo, arriving at a hotel near Guarulhos Airport by evening. To wrap up the trip, Zyba will host a delicious farewell dinner near your hotel.
        
        For those with morning flights, it will be time to say goodbye. If you have a night flight, you’ll have the opportunity for one extra morning of birding at Cantareira State Park before departing.  
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 12 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
      Day 12 - Flight to home 
    </button>
  </h2>
  
  <div id="flush-collapseEighteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Congratulations on completing the Endemic Haven Tour! With over 138 endemic species to observe, hear, or photograph, you’ve made this journey truly unforgettable. It’s been our pleasure to guide you, and we hope you’ve enjoyed it as much as we have!

        Today is your bonus day. Close to the airport, a pristine State Park offers one last chance to experience the beauty of the Mata Atlântica.
        
        Thank you for joining us on this incredible adventure. Safe travels, and we hope to see you on your next journey!      
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

