<div class="accordion accordion-flush w-100" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Day 01 - Arrival in São Paulo Internacional Airport<span class="txt_yellow rounded">Endemism North Tour</span>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            We are delighted to have you join us for this unforgettable adventure. Upon your arrival at Guarulhos International Airport, our team will be there to warmly welcome you and assist with your car transfer. From the moment you land, we’ll ensure your comfort and peace of mind as we begin this remarkable journey together.
            Get ready to immerse yourself in the breathtaking beauty and unparalleled biodiversity of the Mata Atlântica. This is just the beginning of an incredible experience!
          </p>
        </div>
      
    </div>
      </div>
      
      
      <!-- DAY 2 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Day 02 - Patizal Tour <span class="txt_yellow rounded">Endemism North Tour</span>
          </button>
        </h2>
        
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
              <p>


                Today marks your first full day at Patizal and your introduction to the incredible Mata Atlântica forest—the most biodiverse forest in Brazil. Situated in a unique transition zone between humid and less humid habitats, this area is renowned for the astonishing variety and abundance of wildlife you’ll encounter. It’s not uncommon to spot over 100 bird species in a single day at this remarkable location!

                As the day transitions to night, your guide will take you on an exciting nocturnal exploration. Together, you’ll search for elusive night birds, as well as fascinating amphibians and reptiles that come to life after dark.
                
                Get ready for an unforgettable experience filled with sights and sounds that highlight the wonders of this extraordinary ecosystem!              
              </p>
            
              <h5>A few Tour highlights</h5>
              <ul class="itineraryBirdList">
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
              </ul>
            
           
<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
               
            </div>
          </div>
        </div>
      </div>

    </div>

     
      <!-- DAY 3 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Day 03 - Patizal <span class="txt_yellow rounded">Endemism North Tour</span>
          </button>
        </h2>
        
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
            <p>
             We’ll travel about 60 minutes to one of Brazil’s most renowned birding sites. This location is known for its vibrant feeders, offering close-range views of some rare and extraordinary species.

              If time allows, we may venture to a nearby reserve in search of the elusive Royal Flycatcher. This stunning bird is notoriously difficult to spot, so we’ll only proceed if we’re confident in the chances of an encounter             </p>
            <p>
              <h5>A few Tour highlights</h5>
              <ul class="itineraryBirdList">
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
              </ul>
            </p>
            
      

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
               
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- DAY 4 -->

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Day 04 - Patizal advanced trail  <span class="txt_yellow rounded">Endemism North Tour</span>
        </button>
      </h2>
      
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
     
          <p>
            Today, we’ll venture onto Patizal’s advanced trail, taking you through stunning mountains and picturesque scenery. Along the way, we’ll enjoy a delightful picnic in the heart of the forest. Our journey continues with a walk along the crystal-clear waters of a vibrant river, home to many endemic and endangered species.
           </p>
          <p>
            <h5>A few Tour highlights</h5>
            <ul class="itineraryBirdList">
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
            </ul>
          </p>
          
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
                <!-- Inclui o header como template parcial -->
                
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- DAY 5 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Day 05 - Ubatuba city Tour <span class="txt_yellow rounded">Endemism North Tour</span>
      </button>
    </h2>
    
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          Today, we’ll descend from approximately 1,100 meters above sea level down to the stunning Brazilian coastline. Our route takes us along one of Brazil’s most scenic roads, offering breathtaking views of lush forests, cascading waterfalls, and the coastline below.
We’ll arrive in the charming city of Ubatuba, renowned for its beautiful beaches and unmatched birdwatching opportunities. Since the journey itself is an experience to savor, we’ll take our time traveling throughout the morning, stopping for lunch in downtown Ubatuba. Afterward, we’ll check in at our lodge and enjoy an afternoon birding session on one of the city’s scenic trails.
</p>
        <p>
          <h5>A few Tour highlights</h5>
          <ul class="itineraryBirdList">
            <li>x -<i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
          </ul>
        </p>
        
  

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              
        </div>
      </div>
    </div>
  </div>

</div>


  <!-- DAY 6 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Day 06 - Ubatuba tour  <span class="txt_yellow rounded">Endemism North Tour</span>
      </button>
    </h2>
    
    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          Today is our full day in Ubatuba, and we’ll make the most of it! The day begins with an early morning birding session, followed by a lunch break. In the afternoon, we’ll continue exploring the area with birding activities and visits to feeders.
In the evening, we’ll head into town to experience a bit of Ubatuba’s charm. We’ll dine at a traditional restaurant and enjoy the flavors of Caiçara cuisine. Of course, if you prefer a quieter evening, you always have the option to stay at your hotel and enjoy a private meal. The day is yours to enjoy as you wish!
</p>
        <p>
          <h5>A few Tour highlights</h5>
          <ul class="itineraryBirdList">
            <li>x -<i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
          </ul>
        </p>
        
  

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              
        </div>
      </div>
    </div>
  </div>

</div>

<!-- DAY 7 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
      Day 07 - Ubatuba tour / Move to Ilha Bela City <span class="txt_yellow rounded">Endemism North Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        This morning marks our last in Ubatuba, and we’ll begin with a final birding session in the morning before hitting the road. We’ll travel along the BR-101 towards Ilha Bela, a breathtaking route that offers incredible views and yet another unforgettable experience.
        As we drive parallel to the coast, your guide will be extra attentive to any birds or wildlife that may cross our path, ensuring we make the most of the journey. Once we arrive in Ilha Bela, we’ll celebrate with a delicious meal at a charming local restaurant. 
      </p>
      <p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 8 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
      Day 08 - Ilha Bela city tour  <span class="txt_yellow rounded">Endemism North Tour</span><span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        Today, we’ll enjoy another full day of birding in a truly breathtaking location: Ilhabela. Situated off the coast of São Paulo, this tropical paradise is renowned for its pristine beaches, lush Atlantic Forest, and vibrant biodiversity. Ilhabela offers the perfect blend of adventure and tranquility, with exceptional birdwatching opportunities. Its charming village, rich Caiçara culture, and delectable cuisine make it an unmissable destination for nature enthusiasts.
        <p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 9 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
      Day 09 - Atlantic Ocean tour  <span class="txt_yellow rounded">Endemism North Tour</span><span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today is a special adventure! We’ll set out on a boat to explore the Atlantic Ocean in search of its open-sea treasures. Keep an eye out for majestic seabirds soaring overhead as we journey through these stunning waters.

        Joining us for the day will be a specialized open-ocean birding guide, a local expert from Ilhabela, who will lead us to offshore islands where our chances of spotting our target species are significantly higher. It promises to be an unforgettable experience on the open sea!
        
        
      </p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 10 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
      Day 10 - Peruíbe city tour  <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today, we’ll embark on a scenic journey along São Paulo’s breathtaking coastline, traveling a winding road where mountains meet the ocean. As we transition from the north coast to the south coast of São Paulo State, our destination is Peruíbe. Along the way, we’ll make a special stop to admire the stunning scarlet ibis. While not endemic, this vibrant bird is one of the most striking species on our coast. This unforgettable route promises to captivate you at every turn.        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 11 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
      Day 11 - Peruíbe tour <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Our tour takes us to Peruíbe, located on the southern coast of São Paulo State. This charming destination is a haven for nature lovers, with idyllic beaches, stunning waterfalls, and lush natural reserves. Peruíbe is a true birdwatching paradise, inviting you to explore its treasures, from the peaceful trails of Parque Municipal do Restinga to the scenic Passarela do Balsa. The Guaraú area alone boasts over 430 bird species recorded on eBird, making it an unmissable destination to experience the incredible biodiversity of the region.        <ul class="itineraryBirdList">
        </p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
        </ul>
      </p>
      
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 12 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
      Day 12 - Peruíbe Trails <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        As we spend another day in Peruíbe, our focus will be on vibrant colors. This morning, we’ll visit a spot renowned for its feeders, attracting a dazzling array of tanagers and hummingbirds with their stunning hues. In the afternoon, we’ll hit the trails for a mix of exploration and adventure, ensuring another fun and diverse birdwatching experience! </p>
      </p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
        </ul>
      
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 13 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
      Day 13 - "Legado das Águas" Atlantic Forest<span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        In the morning, we’ll leave the coast and journey back to higher elevations, heading to "Legado das Águas"—the largest private Atlantic Forest reserve in Brazil. This remarkable sanctuary is a testament to the power of conservation and vision. Over the next five days, we’ll immerse ourselves in its beauty, exploring the trails, enjoying the feeders, and discovering the surrounding areas of this extraordinary haven.       </p>
      </p>
      <h5>A few Tour highlights</h5>
      <ul class="itineraryBirdList">
        <li>x - <i>x</i></li>
        <li>x - <i>x</i></li>
        <li>x - <i>x</i></li>
        <li>x- <i>x</i></li>
        <li>x - <i>x</i></li>
      </ul>
    
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 14 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
      Day 14 - Welcome to "Legado das águas" <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Welcome to your first full day at Legado das Águas! Today, we’ll dive into its lush trails and immerse ourselves once again deep in the Atlantic forest, there is so much to explore. Be sure to share your specific goals or target species with your guide, and together, we’ll aim to check them all off your list.
        The trails at Legado das Águas lead to breathtaking waterfalls, serene rivers, and viewpoints that highlight the beauty and diversity of this incredible ecosystem. Every path offers a unique opportunity to connect with nature. Let’s make the most of this day and uncover the magic of this extraordinary place!     
      </p>
      <h5>A few Tour highlights</h5>
      <ul class="itineraryBirdList">
        <li>x - <i>x</i></li>
        <li>x - <i>x</i></li>
        <li>x - <i>x</i></li>
        <li>x- <i>x</i></li>
        <li>x - <i>x</i></li>
      </ul>
    
  
  
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 15 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
      Day 15 - "Legado das Águas" Trails <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Legado das Águas is a haven for countless endemic species of flora and fauna. As we explore its diverse trails, keep an eye out for colorful toucans, toucanets, puffbirds, wrens, anteaters, playful monkeys, and the vibrant flora that flourish in this pristine paradise. Each step unveils a new marvel, making this reserve a must-visit destination for nature enthusiasts and adventurers alike. Take a moment to appreciate the privilege of being here and cherish the beauty around you. As our journey approaches its final chapters, let’s savor every experience and make the most of this unforgettable adventure.  
      </p>
      <h5>A few Tour highlights</h5>
      <ul class="itineraryBirdList">
        <li>x - <i>x</i></li>
        <li>x - <i>x</i></li>
        <li>x - <i>x</i></li>
        <li>x- <i>x</i></li>
        <li>x - <i>x</i></li>
      </ul>
    
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>



<!-- DAY 16 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
      Day 16 - bird-feeding property  <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        After two days of exploring trails, it’s time to relax a bit. Today, we’ll visit a renowned bird-feeding property near Legado das Águas, where birds approach from all directions, offering amazing photo opportunities and lasting memories. Take your time to observe their behavior and interactions up close.
        In the afternoon, we’ll return to Legado das Águas. After dinner, we’ll head out for a night exploration, searching for owls, nightjars, and other nocturnal wildlife.          <ul class="itineraryBirdList">
        </p>
        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
        </ul>


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 17 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
      Day 17 - Last bird day and move back to san paulo city <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseSeventeen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        This is our final morning at Legado das Águas, a perfect time for one last birding adventure before saying goodbye to this incredible place.

        After lunch, we’ll begin our journey back to São Paulo, arriving at a hotel near Guarulhos Airport by evening. To wrap up the trip, Zyba will host a delicious farewell dinner near your hotel.
        
        For those with morning flights, it will be time to say goodbye. If you have a night flight, you’ll have the opportunity for one extra morning of birding at Cantareira State Park before departing.        <ul class="itineraryBirdList">
        </p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
        </ul>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 18 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
      Day 18 - Flight to home <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseEighteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Congratulations on completing the Endemic Haven Tour! With over 138 endemic species to observe, hear, or photograph, you’ve made this journey truly unforgettable. It’s been our pleasure to guide you, and we hope you’ve enjoyed it as much as we have!

        Today is your bonus day. Close to the airport, a pristine State Park offers one last chance to experience the beauty of the Mata Atlântica.
        
        Thank you for joining us on this incredible adventure. Safe travels, and we hope to see you on your next journey!      
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            
      </div>
    </div>
  </div>
</div>
</div>

