<section id="dynamicSection" class="dynamic-section rounded" style="background-image: url('/images/photo_rico.png');">
    <div class="overlay rounded"></div>
    <div class="content">
        <h4 id="sectionTitle">Rico Magnusson</h4>
        <p id="sectionDescription">Founder of ZybaOutdoors in Brazil, responsible for developing new projects and managing the logistical aspects of the tours.</p>
        <div class="buttons">
            <button class="cardbutton" onclick="changeContent(1)">Ricardo Magnusson</button>
            <button class="me cardbutton" onclick="changeContent(2)">Allan Clé Porto</button>
            <button class="me cardbutton" onclick="changeContent(3)">Mauricio Piza</button>
        </div>
    </div>
</section>

<script>
    const backgrounds = [
        {
            image: '/images/photo_rico.png',
            title: 'Ricardo Magnusson',
            description: 'Founder of ZybaOutdoors in Brazil, responsible for developing new projects and managing the logistical aspects of the tours.' },
        {
            image: '/images/photo_allan.png',
            title: 'Allan Clé',
            description: 'Allan Clé Porto, Biologist/Ornithologist with a masters degree in seabird ecology from the Fisheries Institute of São Paulo State, conservationist, environmental consultant, and birdwatching guide across the entire Brazilian territory.'
        },
        {
            image: '/images/photo_Mauricio.png',
            title: 'Mauricio Piza',
            description: 'Biologist with extensive experience in several countries, partner at ZybaOutdoors, manager of birdwatching tours, and owner of the Patizal lodge in Brazil.'
        }
        ]
        

    function changeContent(index) {
        const section = document.getElementById('dynamicSection');
        const title = document.getElementById('sectionTitle');
        const description = document.getElementById('sectionDescription');

        section.style.backgroundImage = `url(${backgrounds[index - 1].image})`;
        title.textContent = backgrounds[index - 1].title;
        description.textContent = backgrounds[index - 1].description;
    }
</script>
