<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="tourForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Telefone</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">País</label>
                        <select class="form-select" id="country" name="country" required>
                            <option value="">Selecione</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Estados Unidos">Estados Unidos</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="tour" class="form-label">Tour</label>
                        <input type="text" class="form-control" id="tour" name="tour" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="responseMessage" class="w-100 text-center"></div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" id="submitBtn">Enviar</button>
            </div>
        </div>
    </div>
</div>


  </div>
  <script src="/script/scripts.js"></script>