<!DOCTYPE html>
<html lang="pt">
<head>
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGDZN4DG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZybaOutdoors - About us</title>

    <!-- Bootstrap CSS (versão 5) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS de estilo local -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Staatliches&family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
      
      
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGDZN4DG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <!-- Inclui o header como template parcial -->
    <%- include('partials/header') %>

    <main class="p-3">
      <section class="two-columns container-fluid py-4">
        
          <!-- Primeira coluna: Texto -->
          <div class="col-12 col-lg-6 w-100 container">
            <h5>About Zyba Outdoors</h5>
            <h2>We want to guide you to unforgettable moments</h2>
            <p>
              Discover the most remote destinations in South America with personalized itineraries. Experience the beauty of nature with expert guides, rare species, and unique ecosystems.
            </p>
          </div>
      
          <!-- Segunda coluna: Conteúdo adicional -->
          <div class="col-12 col-lg-6 w-100 container">
            <!-- Inclui o header como template parcial -->
            <%- include('partials/team_card') %>
          </div>
     
      </section>
          

          <section class="two-columns container mt-0 bg_aboutus w-100">
            <div class="column image-content">
           

                             </div>
            <div class="column text-content p-5 text-white">
              <h5>About Zyba Outdoors</h5>
              <h2 class="text-white">We want to guide you to unforgettable moments</h2>
             
<a href="/trips"><button class="btn btn-outline-light">check our trips</button> </a>
            </div>
            
          </section>
    </main>

    <!-- Inclui o footer como template parcial -->
    <%- include('partials/footer') %>

    <!-- Bootstrap JS (Popper incluído) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>

