<div class="accordion accordion-flush w-100" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Day 01 - Arrival in São Paulo Internacional Airport<span class="txt_yellow rounded">Endemism North Tour</span>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            We are delighted to have you join us for this unforgettable adventure. Upon your arrival at Guarulhos International Airport, our team will be there to warmly welcome you and assist with your car transfer. From the moment you land, we’ll ensure your comfort and peace of mind as we begin this remarkable journey together.
            Get ready to immerse yourself in the breathtaking beauty and unparalleled biodiversity of the Mata Atlântica. This is just the beginning of an incredible experience!
          </p>
        </div>
      
    </div>
      </div>
      
      
      <!-- DAY 2 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Day 02 - Patizal Tour <span class="txt_yellow rounded">Endemism North Tour</span>
          </button>
        </h2>
        
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
              <p>


                Today marks your first full day at Patizal and your introduction to the incredible Mata Atlântica forest—the most biodiverse forest in Brazil. Situated in a unique transition zone between humid and less humid habitats, this area is renowned for the astonishing variety and abundance of wildlife you’ll encounter. It’s not uncommon to spot over 100 bird species in a single day at this remarkable location!

                As the day transitions to night, your guide will take you on an exciting nocturnal exploration. Together, you’ll search for elusive night birds, as well as fascinating amphibians and reptiles that come to life after dark.
                
                Get ready for an unforgettable experience filled with sights and sounds that highlight the wonders of this extraordinary ecosystem!              
              </p>
            
              <h5>A few Tour highlights</h5>
              <ul class="itineraryBirdList">
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
              </ul>
            
           
<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
               
            </div>
          </div>
        </div>
      </div>

    </div>

     
      <!-- DAY 3 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Day 03 - Patizal <span class="txt_yellow rounded">Endemism North Tour</span>
          </button>
        </h2>
        
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
            <p>
             We’ll travel about 60 minutes to one of Brazil’s most renowned birding sites. This location is known for its vibrant feeders, offering close-range views of some rare and extraordinary species.

              If time allows, we may venture to a nearby reserve in search of the elusive Royal Flycatcher. This stunning bird is notoriously difficult to spot, so we’ll only proceed if we’re confident in the chances of an encounter             </p>
            <p>
              <h5>A few Tour highlights</h5>
              <ul class="itineraryBirdList">
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
              </ul>
            </p>
            
      

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
               
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- DAY 4 -->

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Day 04 - Patizal advanced trail  <span class="txt_yellow rounded">Endemism North Tour</span>
        </button>
      </h2>
      
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
     
          <p>
            Today, we’ll venture onto Patizal’s advanced trail, taking you through stunning mountains and picturesque scenery. Along the way, we’ll enjoy a delightful picnic in the heart of the forest. Our journey continues with a walk along the crystal-clear waters of a vibrant river, home to many endemic and endangered species.
           </p>
          <p>
            <h5>A few Tour highlights</h5>
            <ul class="itineraryBirdList">
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
            </ul>
          </p>
          
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
                <!-- Inclui o header como template parcial -->
                <%- include('../public/buscabirds.html') %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- DAY 5 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Day 05 - Ubatuba city Tour <span class="txt_yellow rounded">Endemism North Tour</span>
      </button>
    </h2>
    
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          Today, we’ll descend from approximately 1,100 meters above sea level down to the stunning Brazilian coastline. Our route takes us along one of Brazil’s most scenic roads, offering breathtaking views of lush forests, cascading waterfalls, and the coastline below.
We’ll arrive in the charming city of Ubatuba, renowned for its beautiful beaches and unmatched birdwatching opportunities. Since the journey itself is an experience to savor, we’ll take our time traveling throughout the morning, stopping for lunch in downtown Ubatuba. Afterward, we’ll check in at our lodge and enjoy an afternoon birding session on one of the city’s scenic trails.
</p>
        <p>
          <h5>A few Tour highlights</h5>
          <ul class="itineraryBirdList">
            <li>x -<i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
          </ul>
        </p>
        
  

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              <%- include('../public/buscabirds.html') %>
        </div>
      </div>
    </div>
  </div>

</div>


  <!-- DAY 6 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Day 06 - Ubatuba tour  <span class="txt_yellow rounded">Endemism North Tour</span>
      </button>
    </h2>
    
    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          Today is our full day in Ubatuba, and we’ll make the most of it! The day begins with an early morning birding session, followed by a lunch break. In the afternoon, we’ll continue exploring the area with birding activities and visits to feeders.
In the evening, we’ll head into town to experience a bit of Ubatuba’s charm. We’ll dine at a traditional restaurant and enjoy the flavors of Caiçara cuisine. Of course, if you prefer a quieter evening, you always have the option to stay at your hotel and enjoy a private meal. The day is yours to enjoy as you wish!
</p>
        <p>
          <h5>A few Tour highlights</h5>
          <ul class="itineraryBirdList">
            <li>x -<i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
          </ul>
        </p>
        
  

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              <%- include('../public/buscabirds.html') %>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- DAY 7 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
      Day 07 - Ubatuba tour / Move to Ilha Bela City <span class="txt_yellow rounded">Endemism North Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        This morning marks our last in Ubatuba, and we’ll begin with a final birding session in the morning before hitting the road. We’ll travel along the BR-101 towards Ilha Bela, a breathtaking route that offers incredible views and yet another unforgettable experience.
        As we drive parallel to the coast, your guide will be extra attentive to any birds or wildlife that may cross our path, ensuring we make the most of the journey. Once we arrive in Ilha Bela, we’ll celebrate with a delicious meal at a charming local restaurant. 
      </p>
      <p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 8 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
      Day 08 - Ilha Bela city tour  <span class="txt_yellow rounded">Endemism North Tour</span><span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        Today, we’ll enjoy another full day of birding in a truly breathtaking location: Ilhabela. Situated off the coast of São Paulo, this tropical paradise is renowned for its pristine beaches, lush Atlantic Forest, and vibrant biodiversity. Ilhabela offers the perfect blend of adventure and tranquility, with exceptional birdwatching opportunities. Its charming village, rich Caiçara culture, and delectable cuisine make it an unmissable destination for nature enthusiasts.
        <p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 9 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
      Day 09 - Atlantic Ocean tour  <span class="txt_yellow rounded">Endemism North Tour</span><span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today is a special adventure! We’ll set out on a boat to explore the Atlantic Ocean in search of its open-sea treasures. Keep an eye out for majestic seabirds soaring overhead as we journey through these stunning waters.

        Joining us for the day will be a specialized open-ocean birding guide, a local expert from Ilhabela, who will lead us to offshore islands where our chances of spotting our target species are significantly higher. It promises to be an unforgettable experience on the open sea!
        
        
      </p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 10 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
      Day 10 - Peruíbe city tour  <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today, we’ll embark on a scenic journey along São Paulo’s breathtaking coastline, traveling a winding road where mountains meet the ocean. As we transition from the north coast to the south coast of São Paulo State, our destination is Peruíbe. Along the way, we’ll make a special stop to admire the stunning scarlet ibis. While not endemic, this vibrant bird is one of the most striking species on our coast. This unforgettable route promises to captivate you at every turn.        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 11 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
      Day 11 - Flight to Tefé city / Mamirauá Reserve <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Departure from the hotel at 5:30 a.m. heading to Manaus International Airport, where we will board a domestic flight of approximately 1 hour and 15 minutes to the city of Tefé. Upon arrival in Tefé, our team will be waiting to take you to the city’s port. From there, we will embark on a one-hour boat ride to the lodge, located within the Mamirauá Sustainable Development Reserve, where a delicious lunch will be served. Activities will begin after lunch, including trails and opportunities to observe the local wildlife.        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 12 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
      Day 12 - Mamirauá Sustainable Development Reserve <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        This full-day excursion will be dedicated to exploring and observing the flooded forest and it's inhabitants, navigating remote and well-preserved areas by wooden canoe. This immersive experience offers a rare opportunity to connect deeply with the rich biodiversity and serene atmosphere of this unique ecosystem.
        Mamirauá, spanning an impressive 1.124 million hectares, is a true sanctuary in the heart of the Amazon. Here, you will not only experience nature at its most unspoiled but also gain insight into a distinct way of life, deeply intertwined with the land.
        In Mamirauá, time seems to slow down, allowing you to fully immerse yourself in the tranquil surroundings. Your heart rate will naturally decrease as you embrace the peace and solitude of this remarkable environment, offering a chance to reconnect with both nature and your inner self.        
        </p>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 13 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
      Day 13 - Mamirauá Sustainable Development Reserve <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        fThe following day, we will travel to another nearby community, where we will have the opportunity to observe a diverse range of bird species, as well as some of the Amazon's most iconic wildlife, including the Black Caiman, Uakari monkey, and manatee. This unique experience will include an overnight stay within the community, providing an authentic and immersive connection with the local culture, culinary, and the surrounding natural environment.
      </p>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 14 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
      Day 14 - Back to Manaus / Flight to Porto Velho <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        We will depart from the community at 5:30 a.m. and make our way to Tefé Airport, where we will board the flight back to Manaus. Upon arrival in Manaus, we will check into the hotel and enjoy a quick lunch to recharge. Afterward, the afternoon will be dedicated to rest and relaxation. In the evening, we will head back to the airport for our flight to Porto Velho, which is expected to take approximately 1 hour and 15 minutes. Upon arrival in Porto Velho, our team will be ready to transport you directly to the hotel.      </p>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 15 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
      Day 15 - Trans-Amazonian Highway <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        After breakfast, we will head to the city of Apuí, located on the banks of the Roosevelt River. The journey, approximately 7 hours long, will take us along the iconic Transamazonian Highway, one of the most famous roads in the Amazon. Along the way, we will make several strategic stops to observe the rich local wildlife and cross the Madeira River by Ferry, an event by itslef, crossing one of the region's most important waterways. Our arrival at the lodge is expected in the afternoon, allowing time to rest and prepare for the upcoming activities. Our guide will be happy to take anyone to find the night critters.       
        <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>



<!-- DAY 16 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
      Day 16 - Roosevelt River <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        The following day will be dedicated to exploring the scenic trails along the majestic Roosevelt River, providing ample opportunities to observe a variety of endemic species native to the region. In addition to our hikes, we will embark on a boat journey through the river’s swift waters, offering a thrilling experience that highlights the power and beauty of this unique environment. The Roosevelt River, named in honor of President Theodore Roosevelt, inspired his famous book Through the Brazilian Wilderness, further solidifying its historical significance and connection to exploration.
          <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 17 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
      Day 17 - Roosevelt River <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseSeventeen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        The following day will be dedicated to further exploration of the Amazon's Roosevelt River, where we will venture into various micro-biomes along its margins. This will offer unique opportunities to observe a diverse range of species, with the hope of encountering our targeted birds in these distinct habitats.          
        <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 18 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
      Day 18 - Roosevelt River <span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseEighteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        We will spend an entire day exploring the majestic Roosevelt River, immersing ourselves in its diverse ecosystems. Hiking along the river’s trails, we will have the opportunity to observe various endemic species, while also navigating its swift waters to experience the power and beauty of this unique setting. On our final day of our stay, we will continue our adventure into one of the nine primary trails surrounding the lodge. This will be the perfect chance to focus on finding the target species that everyone has been eager to observe, all while making the most of the rich biodiversity that the Roosevelt River region has to offer.         
        <ul class="itineraryBirdList">
        <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

