<div class="accordion accordion-flush w-100" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Day 01 - Arrival in São Paulo Internacional Airport<span class="txt_yellow rounded">Endemism North Tour</span>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            We are delighted to have you join us for this unforgettable adventure. Upon your arrival at Guarulhos International Airport, our team will be there to warmly welcome you and assist with your car transfer. From the moment you land, we’ll ensure your comfort and peace of mind as we begin this remarkable journey together.
            Get ready to immerse yourself in the breathtaking beauty and unparalleled biodiversity of the Mata Atlântica. This is just the beginning of an incredible experience!
          </p>
        </div>
      
    </div>
      </div>
      
      
      <!-- DAY 2 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Day 02 - Patizal Tour <span class="txt_yellow rounded">Endemism North Tour</span>
          </button>
        </h2>
        
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
              <p>
                Today marks your first full day at Patizal and your introduction to the incredible Mata Atlântica forest—the most biodiverse forest in Brazil. Situated in a unique transition zone between humid and less humid habitats, this area is renowned for the astonishing variety and abundance of wildlife you’ll encounter. It’s not uncommon to spot over 100 bird species in a single day at this remarkable location!
                As the day transitions to night, your guide will take you on an exciting nocturnal exploration. Together, you’ll search for elusive night birds, as well as fascinating amphibians and reptiles that come to life after dark.
                Get ready for an unforgettable experience filled with sights and sounds that highlight the wonders of this extraordinary ecosystem!              
              </p>
            
              <h5>A few Tour highlights</h5>
              <ul class="itineraryBirdList">
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
              </ul>
            
           
<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
               
            </div>
          </div>
        </div>
      </div>

    </div>

     
      <!-- DAY 3 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Day 03 - Patizal <span class="txt_yellow rounded">Endemism North Tour</span>
          </button>
        </h2>
        
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
            <p>
             We’ll travel about 60 minutes to one of Brazil’s most renowned birding sites. This location is known for its vibrant feeders, offering close-range views of some rare and extraordinary species.

              If time allows, we may venture to a nearby reserve in search of the elusive Royal Flycatcher. This stunning bird is notoriously difficult to spot, so we’ll only proceed if we’re confident in the chances of an encounter             </p>
            <p>
              <h5>A few Tour highlights</h5>
              <ul class="itineraryBirdList">
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
              </ul>
            </p>
            
      

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
               
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- DAY 4 -->

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Day 04 - Patizal advanced trail  <span class="txt_yellow rounded">Endemism North Tour</span>
        </button>
      </h2>
      
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
     
          <p>
            Today, we’ll venture onto Patizal’s advanced trail, taking you through stunning mountains and picturesque scenery. Along the way, we’ll enjoy a delightful picnic in the heart of the forest. Our journey continues with a walk along the crystal-clear waters of a vibrant river, home to many endemic and endangered species.
           </p>
          <p>
            <h5>A few Tour highlights</h5>
            <ul class="itineraryBirdList">
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
            </ul>
          </p>
          
    

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
                <!-- Inclui o header como template parcial -->
                <%- include('../public/buscabirds.html') %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- DAY 5 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Day 05 - Ubatuba city Tour <span class="txt_yellow rounded">Endemism North Tour</span>
      </button>
    </h2>
    
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          Today, we’ll descend from approximately 1,100 meters above sea level down to the stunning Brazilian coastline. Our route takes us along one of Brazil’s most scenic roads, offering breathtaking views of lush forests, cascading waterfalls, and the coastline below.
We’ll arrive in the charming city of Ubatuba, renowned for its beautiful beaches and unmatched birdwatching opportunities. Since the journey itself is an experience to savor, we’ll take our time traveling throughout the morning, stopping for lunch in downtown Ubatuba. Afterward, we’ll check in at our lodge and enjoy an afternoon birding session on one of the city’s scenic trails.
</p>
        <p>
          <h5>A few Tour highlights</h5>
          <ul class="itineraryBirdList">
            <li>x -<i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
          </ul>
        </p>
        
  

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              <%- include('../public/buscabirds.html') %>
        </div>
      </div>
    </div>
  </div>

</div>


  <!-- DAY 6 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Day 06 - Ubatuba tour  <span class="txt_yellow rounded">Endemism North Tour</span>
      </button>
    </h2>
    
    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          Today is our full day in Ubatuba, and we’ll make the most of it! The day begins with an early morning birding session, followed by a lunch break. In the afternoon, we’ll continue exploring the area with birding activities and visits to feeders.
In the evening, we’ll head into town to experience a bit of Ubatuba’s charm. We’ll dine at a traditional restaurant and enjoy the flavors of Caiçara cuisine. Of course, if you prefer a quieter evening, you always have the option to stay at your hotel and enjoy a private meal. The day is yours to enjoy as you wish!
</p>
        <p>
          <h5>A few Tour highlights</h5>
          <ul class="itineraryBirdList">
            <li>x -<i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
          </ul>
        </p>
        
  

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              <%- include('../public/buscabirds.html') %>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- DAY 7 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
      Day 07 - Ubatuba tour / Move to Ilha Bela City <span class="txt_yellow rounded">Endemism North Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        This morning marks our last in Ubatuba, and we’ll begin with a final birding session in the morning before hitting the road. We’ll travel along the BR-101 towards Ilha Bela, a breathtaking route that offers incredible views and yet another unforgettable experience.
        As we drive parallel to the coast, your guide will be extra attentive to any birds or wildlife that may cross our path, ensuring we make the most of the journey. Once we arrive in Ilha Bela, we’ll celebrate with a delicious meal at a charming local restaurant. 
      </p>
      <p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 8 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
      Day 08 - Ilha Bela city tour  <span class="txt_yellow rounded">Endemism North Tour</span><span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        Today, we’ll enjoy another full day of birding in a truly breathtaking location: Ilhabela. Situated off the coast of São Paulo, this tropical paradise is renowned for its pristine beaches, lush Atlantic Forest, and vibrant biodiversity. Ilhabela offers the perfect blend of adventure and tranquility, with exceptional birdwatching opportunities. Its charming village, rich Caiçara culture, and delectable cuisine make it an unmissable destination for nature enthusiasts.
        <p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 9 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
      Day 09 - Atlantic Ocean tour  <span class="txt_yellow rounded">Endemism North Tour</span><span class="txt_blue rounded">Endemism South Tour</span>
    </button>
  </h2>
  
  <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today is a special adventure! We’ll set out on a boat to explore the Atlantic Ocean in search of its open-sea treasures. Keep an eye out for majestic seabirds soaring overhead as we journey through these stunning waters.

        Joining us for the day will be a specialized open-ocean birding guide, a local expert from Ilhabela, who will lead us to offshore islands where our chances of spotting our target species are significantly higher. It promises to be an unforgettable experience on the open sea!
        
        
      </p>
        <h5>A few Tour highlights</h5>
        <ul class="itineraryBirdList">
          <li>x -<i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
          <li>x - <i>y</i></li>
        </ul>
      </p>
      


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
      </div>
    </div>
  </div>
</div>
</div>
