<div class="accordion accordion-flush w-100" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Day 01 - Arrival at Manaus <span class="txt_yellow rounded">Amazon Feathers</span>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            Arrival at Manaus International Airport: our team will be waiting for you at the airport to welcome you and guide you to your Hotel transfer, ensuring comfort and peace of mind upon your arrival.
          </p>
        </div>
      
    </div>
      </div>
      
      
      <!-- DAY 2 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Day 02 - Amazon Museum (MUSA) <span class="txt_yellow rounded">Amazon Feathers</span>
          </button>
        </h2>
        
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
            <p>
              
              
On our first full day, we will visit the Amazon Museum (MUSA), where we will explore the region’s remarkable biodiversity and immerse ourselves in the natural beauty of the surroundings. Highlights include ascending the 40-meter-high observation tower for breathtaking views of the forest canopy and a guided trail through the forest floor, offering your first glimpse with the Amazon's unique ecosystem. After a day of discovery and exploration, we will return to the hotel to relax and reflect on the experience.

              
              </p>
            <p>
              <h5>Top 5 - Endemic Birds:</h5>
              <ul class="itineraryBirdList">
                <li>Klages's Antwren - <i>Myrmotherula klagesi</i></li>
                <li>Guianan Toucanet - <i>Selenidera piperivora</i></li>
                <li>Guianan Warbling-Antbird - <i>Hypocnemis cantator</i></li>
                <li>White-fronted Manakin - <i>Lepidothrix serena</i></li>
                <li>Crimson Fruitcrow - <i>Haematoderus militaris</i></li>
              </ul>
            </p>
            
          <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="-2.930033" 
data-lng="-59.975481" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
                  <!-- Inclui o header como template parcial -->
                  <%- include('../public/buscabirds.html') %>
            </div>
          </div>
        </div>
      </div>

    </div>

     
      <!-- DAY 3 -->

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Day 03 - Januari State Park <span class="txt_yellow rounded">Amazon Feathers</span>
          </button>
        </h2>
        
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
       
            <p>
              
              
              On this day, we will visit Januari State Park for a unique birding experience conducted entirely from a boat. This approach will allow you to observe a diverse array of bird species from the water while immersing yourself in the authentic ambiance of the Amazon the flooded Forest. Lunch will be served at a local restaurant, providing a taste of regional cuisine. After a fulfilling day of exploration, we will return to the hotel for a well-deserved rest.
              
              </p>
            <p>
              <h5>Top 5 - Endemic Birds:</h5>
              <ul class="itineraryBirdList">
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
                <li>x - <i>y</i></li>
              </ul>
            </p>
            
          <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
                  <!-- Inclui o header como template parcial -->
                  <%- include('../public/buscabirds.html') %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- DAY 4 -->

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Day 04 - Presidente Figueiredo City <span class="txt_yellow rounded">Amazon Feathers</span>
        </button>
      </h2>
      
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
     
          <p>
            
            
            We will now get on theroad, to the remarkable city of Presidente Figueiredo, a must-visit destination not far from Manaus. Along the way, we will stop at the INPA Tower, a 40-meter decommissioned weather station now serving as an exceptional birdwatching spot. From this vantage point high above the forest canopy, we will have the opportunity to observe some of the unique residents of the treetops, providing another unforgettable perspective of the Amazon's rich biodiversity.

            Later in the day, we will enjoy a relaxed afternoon exploring the surroundings of our lodge in the Presidente Figueiredo area, where we will continue searching for more incredible bird species in this stunning natural setting.            
            </p>
          <p>
            <h5>Top 5 - Endemic Birds:</h5>
            <ul class="itineraryBirdList">
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
              <li>x - <i>y</i></li>
            </ul>
          </p>
          
        <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
                <!-- Inclui o header como template parcial -->
                <%- include('../public/buscabirds.html') %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- DAY 5 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Day 05 - Presidente Figueiredo Waterfalls <span class="txt_yellow rounded">Amazon Feathers</span>
      </button>
    </h2>
    
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          In Presidente Figueiredo, we will explore one of the Amazon's most captivating regions, celebrated for its stunning landscapes and majestic waterfalls. This area is also renowned as the natural habitat of the iconic Guianan Cock-of-the-rock, offering a unique opportunity to observe this magnificent species.
          After a day filled with exploration and wildlife observation, we will unwind at a charming nature-inspired lodge. In the evening, your guide will introduce you to the fascinating nocturnal wildlife, providing an unforgettable glimpse into the Amazon's vibrant nightlife.  
        </p>
        <p>
          <h5>Top 5 - Endemic Birds:</h5>
          <ul class="itineraryBirdList">
            <li>Guianan Cock-of-the-rock - <i>Rupicola rupicola</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
            <li>x - <i>y</i></li>
          </ul>
        </p>
        
      <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              <%- include('../public/buscabirds.html') %>
        </div>
      </div>
    </div>
  </div>

</div>


  <!-- DAY 6 -->

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Day 06 - Presidente Figueiredo Waterfalls <span class="txt_yellow rounded">Amazon Feathers</span>
      </button>
    </h2>
    
    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
   
        <p>
          We will continue our birdwatching adventure in the lush surroundings of Presidente Figueiredo, exploring new areas to uncover even more of the region’s avian treasures. This day will provide further opportunities to connect with the incredible biodiversity of this unique area, with its blend of pristine forests and picturesque landscapes.
As evening approaches, we will return to Manaus, where you’ll settle in for a comfortable hotel for the night’s rest. 
        </p>
        <p>
          <h5>Top 5 - Endemic Birds:</h5>
          <ul class="itineraryBirdList">
            <li>Guianan Cock-of-the-rock - <i>Rupicola rupicola</i></li>
            <li>Musician Wren - <i>Cyphorhinus arada</i></li>
            <li>Yellow-crowned Manakin - <i>Heterocercus flavivertex</i></li>
            <li>Capuchinbird - <i>Perissocephalus tricolor</i></li>
            <li>Black Nunbird - <i>Monasa atra</i></li>
          </ul>
        </p>
        
      <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
              <!-- Inclui o header como template parcial -->
              <%- include('../public/buscabirds.html') %>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- DAY 7 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
      Day 07 - Anavilhanas National Park <span class="txt_yellow rounded">Amazon Feathers</span>
    </button>
  </h2>
  
  <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        We will continue our journey to Novo Airão, a city approximately 200 kilometers from Manaus and the gateway to Anavilhanas National Park—one of the largest freshwater archipelagos in the world. Along the way, we will pass through breathtaking landscapes rich in lush greenery and diverse wildlife, offering exceptional opportunities to observe a wide variety of bird species. Your guide will make stops whenever a bird of interest is spotted, ensuring the journey itself becomes an unforgettable part of the adventure.
        Upon reaching Novo Airão, we will check into our lodge before embarking on an afternoon birding excursion. This outing will provide an excellent opportunity to explore the unique avifauna of the region and immerse ourselves in its natural wonders.
      </p>
      <p>
        <h5>Top 5 - Endemic Birds:</h5>
        <ul class="itineraryBirdList">
          <li>Guianan Cock-of-the-rock - <i>Rupicola rupicola</i></li>
          <li>Musician Wren - <i>Cyphorhinus arada</i></li>
          <li>Yellow-crowned Manakin - <i>Heterocercus flavivertex</i></li>
          <li>Capuchinbird - <i>Perissocephalus tricolor</i></li>
          <li>Black Nunbird - <i>Monasa atra</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 8 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
      Day 08 - Anavilhanas and Jaú National Parks <span class="txt_yellow rounded">Amazon Feathers</span>
    </button>
  </h2>
  
  <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
 
      <p>
        During our stay in Novo Airão, we will explore not only Anavilhanas National Park but also Jaú National Park, both of which are renowned for their exceptional biodiversity. These protected areas offer visitors unparalleled opportunities to observe a wide array of species in their natural habitats. The region boasts a unique landscape, shaped by its distinct biome, and is home to a high degree of endemism, ensuring an unforgettable experience for nature enthusiasts.
        Throughout our stay, we will monitor weather conditions to determine the optimal times for boat tours to the nearby islands, maximizing the chances of observing the area’s diverse wildlife.</p>
      <p>
        <h5>Top 5 - Endemic Birds:</h5>
        <ul class="itineraryBirdList">
          <li>Wire-tailed Manakin - <i>Pipra filicauda</i></li>
          <li>Imeri Wren - <i>Cyphorhinus transfluvialis</i></li>
          <li>Collared Gnatwren - <i>Microbates collaris</i></li>
          <li>Guianan Warbling-Antbird - <i>Hypocnemis cantator</i></li>
          <li>White-plumed Antbird - <i>Pithys albifrons</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 9 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
      Day 09 - Anavilhanas and Jaú National Parks <span class="txt_yellow rounded">Amazon Feathers</span>
    </button>
  </h2>
  
  <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        The following day, we will continue our exploration of the incredible biodiversity found within Anavilhanas and Jaú National Parks. The region’s high endemism makes it an extraordinary destination for nature lovers, with every turn presenting new opportunities to appreciate the richness of the local flora and fauna. We will continue to monitor weather conditions closely, ensuring that our boat excursions to the islands are perfectly timed for optimal wildlife sightings. Each day in this region promises to unveil more of the Amazon’s natural wonders.
        </p>
        <h5>Top 5 - Endemic Birds:</h5>
        <ul class="itineraryBirdList">
          <li>Wire-tailed Manakin - <i>Pipra filicauda</i></li>
          <li>Imeri Wren - <i>Cyphorhinus transfluvialis</i></li>
          <li>Collared Gnatwren - <i>Microbates collaris</i></li>
          <li>Guianan Warbling-Antbird - <i>Hypocnemis cantator</i></li>
          <li>White-plumed Antbird - <i>Pithys albifrons</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 10 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
      Day 10 - Back to Manaus <span class="txt_yellow rounded">Amazon Feathers</span>
    </button>
  </h2>
  
  <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        After breakfast, we will begin our journey back to Manaus, exploring the higher grounds and drier forests along the way. The approximately 200 km route will be marked by several strategically planned stops, allowing us to observe the region’s diverse wildlife and unique vegetation. These stops offer exceptional opportunities to connect with nature and gain deeper insights into the richness of the Amazon ecosystem. We will end our day on a comfortable hotel again.         </p>
        <h5>Top 5 - Endemic Birds:</h5>
        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 11 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
      Day 11 - Flight to Tefé city / Mamirauá Reserve <span class="txt_blue rounded">Mamirauá Immersion</span>
    </button>
  </h2>
  
  <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Departure from the hotel at 5:30 a.m. heading to Manaus International Airport, where we will board a domestic flight of approximately 1 hour and 15 minutes to the city of Tefé. Upon arrival in Tefé, our team will be waiting to take you to the city’s port. From there, we will embark on a one-hour boat ride to the lodge, located within the Mamirauá Sustainable Development Reserve, where a delicious lunch will be served. Activities will begin after lunch, including trails and opportunities to observe the local wildlife.        <h5>Top 5 - Endemic Birds:</h5>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 12 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
      Day 12 - Mamirauá Sustainable Development Reserve <span class="txt_blue rounded">Mamirauá Immersion</span>
    </button>
  </h2>
  
  <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        This full-day excursion will be dedicated to exploring and observing the flooded forest and it's inhabitants, navigating remote and well-preserved areas by wooden canoe. This immersive experience offers a rare opportunity to connect deeply with the rich biodiversity and serene atmosphere of this unique ecosystem.
        Mamirauá, spanning an impressive 1.124 million hectares, is a true sanctuary in the heart of the Amazon. Here, you will not only experience nature at its most unspoiled but also gain insight into a distinct way of life, deeply intertwined with the land.
        In Mamirauá, time seems to slow down, allowing you to fully immerse yourself in the tranquil surroundings. Your heart rate will naturally decrease as you embrace the peace and solitude of this remarkable environment, offering a chance to reconnect with both nature and your inner self.        
        </p>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 13 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
      Day 13 - Mamirauá Sustainable Development Reserve <span class="txt_blue rounded">Mamirauá Immersion</span>
    </button>
  </h2>
  
  <div id="flush-collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        fThe following day, we will travel to another nearby community, where we will have the opportunity to observe a diverse range of bird species, as well as some of the Amazon's most iconic wildlife, including the Black Caiman, Uakari monkey, and manatee. This unique experience will include an overnight stay within the community, providing an authentic and immersive connection with the local culture, culinary, and the surrounding natural environment.
      </p>
        <ul class="itineraryBirdList">
          <li>Ferruginous Wren - <i>Cyphorhinus modulator</i></li>
          <li>Gilded Barbet - <i>Capito auratus</i></li>
          <li>Golden-collared Toucanet - <i>Selenidera reinwardtii</i></li>
          <li>Kawall's Parrot - <i>Amazona kawalli</i></li>
          <li>Pearly Antshrike - <i>Megastictus margaritatus</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 14 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
      Day 14 - Back to Manaus / Flight to Porto Velho <span class="txt_green rounded">Roosevelt Journey</span>
    </button>
  </h2>
  
  <div id="flush-collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        We will depart from the community at 5:30 a.m. and make our way to Tefé Airport, where we will board the flight back to Manaus. Upon arrival in Manaus, we will check into the hotel and enjoy a quick lunch to recharge. Afterward, the afternoon will be dedicated to rest and relaxation. In the evening, we will head back to the airport for our flight to Porto Velho, which is expected to take approximately 1 hour and 15 minutes. Upon arrival in Porto Velho, our team will be ready to transport you directly to the hotel.      </p>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 15 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
      Day 15 - Trans-Amazonian Highway <span class="txt_green rounded">Roosevelt Journey</span>
    </button>
  </h2>
  
  <div id="flush-collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        After breakfast, we will head to the city of Apuí, located on the banks of the Roosevelt River. The journey, approximately 7 hours long, will take us along the iconic Transamazonian Highway, one of the most famous roads in the Amazon. Along the way, we will make several strategic stops to observe the rich local wildlife and cross the Madeira River by Ferry, an event by itslef, crossing one of the region's most important waterways. Our arrival at the lodge is expected in the afternoon, allowing time to rest and prepare for the upcoming activities. Our guide will be happy to take anyone to find the night critters.       
        <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>



<!-- DAY 16 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
      Day 16 - Roosevelt River <span class="txt_green rounded">Roosevelt Journey</span>
    </button>
  </h2>
  
  <div id="flush-collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        The following day will be dedicated to exploring the scenic trails along the majestic Roosevelt River, providing ample opportunities to observe a variety of endemic species native to the region. In addition to our hikes, we will embark on a boat journey through the river’s swift waters, offering a thrilling experience that highlights the power and beauty of this unique environment. The Roosevelt River, named in honor of President Theodore Roosevelt, inspired his famous book Through the Brazilian Wilderness, further solidifying its historical significance and connection to exploration.
          <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 17 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
      Day 17 - Roosevelt River <span class="txt_green rounded">Roosevelt Journey</span>
    </button>
  </h2>
  
  <div id="flush-collapseSeventeen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        The following day will be dedicated to further exploration of the Amazon's Roosevelt River, where we will venture into various micro-biomes along its margins. This will offer unique opportunities to observe a diverse range of species, with the hope of encountering our targeted birds in these distinct habitats.          
        <ul class="itineraryBirdList">
          <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 18 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
      Day 18 - Roosevelt River <span class="txt_green rounded">Roosevelt Journey</span>
    </button>
  </h2>
  
  <div id="flush-collapseEighteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        We will spend an entire day exploring the majestic Roosevelt River, immersing ourselves in its diverse ecosystems. Hiking along the river’s trails, we will have the opportunity to observe various endemic species, while also navigating its swift waters to experience the power and beauty of this unique setting. On our final day of our stay, we will continue our adventure into one of the nine primary trails surrounding the lodge. This will be the perfect chance to focus on finding the target species that everyone has been eager to observe, all while making the most of the rich biodiversity that the Roosevelt River region has to offer.         
        <ul class="itineraryBirdList">
        <li>Roosevelt Stipplethroat - <i>Epinecrophylla dentei</i></li>
          <li>Rondonia Wren - <i>Cyphorhinus interpositus</i></li>
          <li>Buff-cheeked Tody-Flycatcher - <i>Poecilotriccus senex</i></li>
          <li>Chico's Tyrannulet - <i>Zimmerius chicomendesi</i></li>
          <li>Rondonia Scythebill - <i>Campylorhamphus probatus</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 19 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNineteen" aria-expanded="false" aria-controls="flush-collapseNineteen">
      Day 19 - Boat transfer to Guariba River <span class="txt_green rounded">Roosevelt Journey</span>
    </button>
  </h2>
  
  <div id="flush-collapseNineteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        At dawn, we’ll embark on boats once more, heading upriver toward the beautiful Guariba river. While it’s not a long ride, about 3,5h, this journey will take us across another fascinating endemism line. As we delve deeper into the Amazon rainforest, we’ll have the rare opportunity to encounter some of its most extraordinary treasures, species that thrive only in pristine, untouched habitats.
        This marks the final destination of our incredible expedition. Take a moment to be fully present and grateful for the privilege of witnessing the grandeur of the largest rainforest on Earth.       
         <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DAY 20 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwenty" aria-expanded="false" aria-controls="flush-collapseTwenty">
      Day 20 - Guariba River -   <span class="txt_green rounded">Roosevelt Journey</span>
      
    </button>
    
  </h2>
  
  <div id="flush-collapseTwenty" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today marks our first full day at the breathtaking Guariba Lodge. We’ll explore the trails along Guariba river margins, immersing ourselves in the rich biodiversity of this unique environment. With your guide's expertise, we’ll focus on meeting your specific targets, aiming to deliver not just quantity but exceptional quality in our sightings.
        Get ready for an unforgettable day in the Amazon!

        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- DAY 21 -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentyOne" aria-expanded="false" aria-controls="flush-collapseTwentyOne">
      Day 21 - Guariba River <span class="txt_green rounded">Roosevelt Journey</span>
    </button>
  </h2>
  
  <div id="flush-collapseTwentyOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        Today, we’ll continue our adventure with a full day of exploration at Guariba river. We’ll venture onto new trails and explore diverse environments, increasing our chances of encountering species different from those spotted the day before.
With your guide’s expertise, we’ll remain focused on achieving your specific targets in one of the most remarkable places on Earth.

Prepare yourself for another unforgettable day in the heart of the Amazon!
        <ul class="itineraryBirdList">
          <li>x - <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
          <li>x - <i>x</i></li>
          <li>x- <i>x</i></li>
        </ul>
      </p>
      
    <!-- Botão para abrir o Offcanvas -->
<button class="btn btn-success btn-sm" 
type="button" 
data-lat="TROCAR VARIAVEL" 
data-lng="TROCAR VARIAVEL" 
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" 
aria-controls="offcanvasRight">Birds List</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de pássaros da região</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<ul id="birdList" class="list-group list-group-flush"></ul> 
            <!-- Inclui o header como template parcial -->
            <%- include('../public/buscabirds.html') %>
      </div>
    </div>
  </div>
</div>
</div>